<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Inserir Vídeo</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="insertVideo()">
    <input class="form-control" type="text" name="title" id="title" ng-model="upload.title" placeholder="Insira o Título do Vídeo" required/>
    <br/>
      <div class="form-group">
        <select ng-model="upload.category" class="form-control" required>
          <option value="">Selecione uma Categoria</option>
          <option value="Educacional">Educacional</option>
          <option value="Videoclipe">Videoclipe</option>
          <option value="Filmes">Filmes</option>
          <option value="Outros">Outros</option>
        </select>
      </div>
    <input class="form-control" type="text" name="author" id="author" ng-model="upload.author" placeholder="Insira o Autor do Vídeo" required/>
    <br/>
    <input class="form-control" type="text" name="description" id="description" ng-model="upload.description" placeholder="Insira a Descrição do Vídeo" />
    <br/>
    <span class="btn btn-danger btn-file btn-block">Procurar Arquivo
        <input type="file" name="file" id="file" ng-model="upload.file" ngf-accept="'.mp4'" ngf-select ngf-max-size="25MB" required/>
    </span>
    <input class="btn btn-primary btn-block" type="submit" value="Enviar Vídeo"/>
    </form>
  </div>
</div>