<div class="panel panel-default" ng-init="getVideosList()">
  <div class="panel-heading">
    <h3 class="panel-title">Vídeos Inseridos</h3>
  </div>
  <div class="panel-body">
    <input class="form-control" type="text" ng-model="searchVideo" placeholder="Insira o que deseja pesquisar"/><br/><br/>
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Categoria</th>
            <th>Autor</th>
            <th>Inserido em</th>
            <th>Detalhes</th>
        </tr>
        <tr ng-repeat="video in videos | filter: searchVideo">
            <td>{{video.title}}</td>
            <td>{{video.category}}</td>
            <td>{{video.author}}</td>
            <td>{{video.created_at | date:'dd/MM/yyyy HH:mm'}}</td>
            <td><a ng-click="getVideo(video)" href="#/detail">Clique Aqui</a></td>
        </tr>
    </table>
  </div>
</div>