<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Título: {{video.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
        <video style="outline:none; width:75%; height:75%;" controls src="{{url}}"></video>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item">Descrição: <br>
          {{video.description}}</li>
          <li class="list-group-item">Autor: <br>
          {{video.author}}</li>
          <li class="list-group-item">Criado em: <br>
          {{video.created_at | date:'dd/MM/yyyy HH:mm'}}</li>
            <div class="pull-right">
                <hr>
                <a class="btn btn-primary" href="#/edit" ng-click="getVideo(video)">
                Editar Video</a>
                <a class="btn btn-danger" href="#" ng-click="removeVideo(video._id)">
                Deletar Video</a>
            </div>
        </ul>
    </div>
  </div>
</div>